/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Fonts
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
}


/*
Links
*/

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/*
Nav
*/

.nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: #f1fdff;
}

.nav-fixed {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  margin: 0 auto;
}

.email-address {
  display: none;
}

.contact-links {
  width: 69%;
  display: flex;
  justify-content: space-evenly;
}

.brand {
  display: flex;
  align-items: center;

  font-weight: 700;
}

.contact-links a {
  display: inline-block;
}

.contact-links .email {
  padding: 0.375rem 0.55rem;
  margin-right: 10px;

  border: 1px solid black;
  border-radius: 0.25rem;
  transition: all 0.15s ease;
}

.contact-links .github {
  padding: 0.375rem 0.75rem;

  border: 1px solid black;
  border-radius: 0.25rem;
  transition: all 0.15s ease;
}

.fa-github {
  margin-right: 5px;
}

.brand:hover,
.contact-links a:hover {
  color: green;
  border-color: green;
  transform: scale(1.05);
}

.contact-links > li:not(:last-child) {
  margin-right: 50px;
}

/*
Content
*/

.content {
  max-width: 1000px;
  padding-top: 69px;
  margin: 0 auto 69px;
}

/*
Profile
*/

.profile,
.projects {
  text-align: center;
}

.profile > img {
  max-width: 90px;

  border-radius: 50%;
}

.profile-name {
  margin-bottom: 6px;
}

.profile-name,
.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.profile-location > span {
  color: #ff1616;
}

.profile-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 12px auto;
}

.profile-links a {
  display: inline-block;
  padding: 0.375rem 0.75rem;

  border: 1px solid black;
  border-radius: 0.25rem;
  transition: all 0.15s ease;
}

.profile-links a:hover {
  color: green;
  border-color: green;
  transform: scale(1.05);
}

.profile-links i {
  margin-right: 5px;
}

.fa-linkedin-square {
  color: rgb(0, 119, 181);
}

/*
Projects
*/

.projects {
  margin-top: 42px;
}

.projects > .title {
  display: inline-block;
  padding-bottom: 5px;

  font-size: 2rem;
  border-bottom: 1px solid black;
}

.projects-display {
  margin: 10px 0;
  display: flex;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 10px;

  border: 1px solid black;
  border-radius: 5px;
}

.project a {
  display: block;
}

.live {
  position: relative;
  height: 42%;
}

.project img {
  width: 100%;
  height: 100%;
}

.live-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: middle;
  position: absolute;
  top: 0;
  z-index: 2;


  color: white;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease;
}

.live-overlay > div {
  font-weight: 700;
}

.live:hover .live-overlay {
  opacity: 0.8;
}

.project i {
  margin-right: 5px;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 9px;
}

.project .view,
.project .github {
  display: inline-block;
}

.project .view, 
.project .github {
  padding: 0.375rem 0.75rem;
  margin: 5px 0;

  border: 1px solid black;
  border-radius: 0.25rem;
  transition: all 0.15s ease;
}

.project .view:hover,
.project .github:hover {
  color: orange;
  border-color: orange;
  transform: scale(1.05);
}

.project-title {
  margin-top: 10px;
  margin-bottom: 15px;

  font-size: 2rem;
  font-weight: 700;
}

.project-info {
  text-align: left;
  line-height: 1.3rem;
}


/*
Media Queries
*/

@media (max-width: 750px) {

  .email-address {
    display: block;
    margin: 0 auto;
    font-weight: 700;
  }

  .nav-fixed .brand,
  .nav-fixed .contact-links {
    display: none;
  }

  .profile-links {
    display: block;
  }

  .profile-links a {
    margin: 5px 0;
  }

  .projects-display {
    display: block;
  }

  .project {
    width: 69%;
    margin: 30px auto;
  }

  .project-links .view {
    display: none;
  }

}